.hm {
  &-Content {
    @extend .grid;
    justify-content: center;
    align-items: center;
    height: 90vh;

    @mixin setup-animation($keyframes-name, $head-color, $tail-color) {
      @include keyframes(#{$keyframes-name}-close-bar) {
        from {
          @include bar-active($head-color, $tail-color);
        }

        to {
          @include bar-inactive($head-color, $tail-color);
        }
      }

      @include keyframes(#{$keyframes-name}-open-bar) {
        from {
          @include bar-inactive($head-color, $tail-color);
        }

        to {
          @include bar-active($head-color, $tail-color);
        }
      }

      @include keyframes(#{$keyframes-name}-close-text) {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }

      @include keyframes(#{$keyframes-name}-open-text) {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    &_profile {
      @include setup-animation(hm-Home_profile,#52D6FF, #D152FF);
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_profile-bar {
          @include animation(hm-Home_profile-open-bar .3s ease-out);
        }

        .hm-Content_profile-title {
          @include animation(hm-Home_profile-open-text .3s ease-out .3s);
        }
      }

      &-bar {
        @include animation(hm-Home_profile-close-bar .3s ease-out .4s);
      }

      &-title {
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        color: #000;
        @include animation(hm-Home_profile-close-text .4s ease-in);
      }
    }

    &_product {
      @include setup-animation(hm-Home_product, #D152FF, #FF7A52);
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_product-bar {
          @include animation(hm-Home_product-open-bar .3s ease-out);
        }

        .hm-Content_product-title {
          @include animation(hm-Home_product-open-text .3s ease-out .3s);
        }
      }

      &-bar {
        @include animation(hm-Home_product-close-bar .3s ease-out .4s);
      }

      &-title {
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        color: #000;
        @include animation(hm-Home_product-close-text .4s ease-in);
      }
    }

    &_contact {
      @include setup-animation(hm-Home_contact, #FF7A52, #80FF52);
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_contact-bar {
          @include animation(hm-Home_contact-open-bar .3s ease-out);
        }

        .hm-Content_contact-title {
          @include animation(hm-Home_contact-open-text .3s ease-out .3s);
        }
      }

      &-bar {
        @include animation(hm-Home_contact-close-bar .3s ease-out .4s);
      }

      &-title {
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        color: #000;
        @include animation(hm-Home_contact-close-text .4s ease-in);
      }
    }

    &_blog {
      @include setup-animation(hm-Home_blog, #80FF52, #52D6FF);
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_blog-bar {
          @include animation(hm-Home_blog-open-bar .3s ease-out);
        }

        .hm-Content_blog-title {
          @include animation(hm-Home_blog-open-text .3s ease-out .3s);
        }
      }

      &-bar {
        @include animation(hm-Home_blog-close-bar .3s ease-out .4s);
      }

      &-title {
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        color: #000;
        @include animation(hm-Home_blog-close-text .4s ease-in);
      }
    }
  }
}
