.hm {
  &-Content {
    @extend .grid;
    justify-content: center;
    align-items: center;
    height: 800px;

    &_profile {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_profile-bar {
          @include bar-active(#52D6FF, #D152FF);
          transition: all .2s ease-out;
        }

        .hm-Content_profile-title {
          opacity: 1;
          transition: all .2s ease-out .2s;
        }
      }

      &-bar {
        @include bar-inactive(#52D6FF, #D152FF);
        transition: all .2s ease-out;
      }

      &-title {
        writing-mode: vertical-rl;
        opacity: 0;
        transition: all .2s ease-out;
        font-size: 1.5rem;
        color: #000;
      }
    }

    &_skill {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_skill-bar {
          @include bar-active(#D152FF, #FF7A52);
          transition: all .2s ease-out;
        }

        .hm-Content_skill-title {
          opacity: 1;
          transition: all .2s ease-out .2s;
        }
      }

      &-bar {
        @include bar-inactive(#D152FF, #FF7A52);
        transition: all .2s ease-out;
      }

      &-title {
        writing-mode: vertical-rl;
        opacity: 0;
        transition: all .2s ease-out;
        font-size: 1.5rem;
        color: #000;
      }
    }

    &_access {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_access-bar {
          @include bar-active(#FF7A52, #80FF52);
          transition: all .2s ease-out;
        }

        .hm-Content_access-title {
          opacity: 1;
          transition: all .2s ease-out .2s;
        }
      }

      &-bar {
        @include bar-inactive(#FF7A52, #80FF52);
        transition: all .2s ease-out;
      }

      &-title {
        writing-mode: vertical-rl;
        opacity: 0;
        transition: all .2s ease-out;
        font-size: 1.5rem;
        color: #000;
      }
    }

    &_blog {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Content_blog-bar {
          @include bar-active(#80FF52, #52D6FF);
          transition: all .2s ease-out;
        }

        .hm-Content_blog-title {
          opacity: 1;
          transition: all .2s ease-out .2s;
        }
      }

      &-bar {
        @include bar-inactive(#80FF52, #52D6FF);
        transition: all .2s ease-out;
      }

      &-title {
        writing-mode: vertical-rl;
        opacity: 0;
        transition: all .2s ease-out;
        font-size: 1.5rem;
        color: #000;
      }
    }
  }
}
