.ct {
  &-Content {
    @extend .grid;
    display: block;
    margin-top: 120px;

    &_title {
      text-align: center;
      font-size: 3.2rem;
      color: #000;

      @include keyframes(ct-Content_title) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(ct-Content_title 1s ease 2s);
    }

    &_bar {
      display: block;
      @include keyframes(ct-Content_bar) {
        0% {
          @include bar-side-active(#FF7A52, #80FF52);
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: rotate(90deg);
        }

        50% {
          @include bar-side-active(#FF7A52, #80FF52);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(0deg);
        }

        99% {
          @include bar-side-active(#FF7A52, #80FF52);
          position: absolute;
          top: -500px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        
        100% {
          @include bar-side-active(#FF7A52, #80FF52);
          top: -500px;
        }
      }

      @include animation(ct-Content_bar 2s);
    }

    &_category {
      margin-top: 80px;
      display: block;
      text-align: center;
      font-size: 1.6rem;

      @include keyframes(ct-Content_description-category) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(ct-Content_description-category 1s ease 2s);
    }

    &_description {
      margin-top: 40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      &-image {
        margin: auto 20px;
        width: 40px;
        height: 40px;

        @include keyframes(ct-Content_description-image) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @include animation(ct-Content_description-image 1s ease 2s);
      }

      &-kyash {
        margin: auto 20px;
        width: 80px;
        height: 80px;

        @include keyframes(ct-Content_description-kyash) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @include animation(ct-Content_description-kyash 1s ease 2s);
      }
    }
  }
}
