
@mixin bar-inactive($head-color, $bottom-color) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient($head-color, $bottom-color);
  backface-visibility: hidden;
  margin: auto;
}

@mixin bar-active($head-color, $bottom-color) {
  width: 8px;
  height: 400px;
  border-radius: 0%;
  background: linear-gradient($head-color, $bottom-color);
  margin: auto;
}

@mixin bar-animation($bar-name, $head-color, $bottom-color) {
  @keyframes #{$bar-name}-open {
    from {
      @include bar-inactive($head-color, $bottom-color);
    }
    to {
      @include bar-active($head-color, $bottom-color);
    }
  }


  @keyframes #{$bar-name}-close {
    from {
      @include bar-active($head-color, $bottom-color);
    }
    to {
      @include bar-inactive($head-color, $bottom-color);
    }
  }
}


.hm {
  &-Bar {
    @extend .container;
    justify-content: center;
    align-items: center;
    height: 800px;

    &_profile {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Bar_profile-bar {
          @include bar-active(#52D6FF, #D152FF);
          transition: all .5s ease-out;
        }

        .hm-Bar_profile-title {
          opacity: 1;
          transition: all .5s ease-out .5s;
        }
      }

      &-bar {
        @include bar-inactive(#52D6FF, #D152FF);
        transition: all .5s ease-out .5s;
      }

      &-title {
        writing-mode: vertical-rl; 
        opacity: 0;
        transition: all .5s ease-out;
        font-size: 1.5rem;
      }
    }

    &_skill {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Bar_skill-bar {
          @include bar-active(#D152FF, #FF7A52);
          transition: all .5s ease-out;
        }

        .hm-Bar_skill-title {
          opacity: 1;
          transition: all .5s ease-out .5s;
        }
      }

      &-bar {
        @include bar-inactive(#D152FF, #FF7A52);
        transition: all .5s ease-out .5s;
      }

      &-title {
        writing-mode: vertical-rl; 
        opacity: 0;
        transition: all .5s ease-out;
        font-size: 1.5rem;
      }
    }

    &_contents {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Bar_contents-bar {
        @include bar-active(#FF7A52, #80FF52);
          transition: all .5s ease-out;
        }

        .hm-Bar_contents-title {
          opacity: 1;
          transition: all .5s ease-out .5s;
        }
      }

      &-bar {
        @include bar-inactive(#FF7A52, #80FF52);
        transition: all .5s ease-out .5s;
      }

      &-title {
        writing-mode: vertical-rl; 
        opacity: 0;
        transition: all .5s ease-out;
        font-size: 1.5rem;
      }
    }

    &_access {
      display: flex;
      justify-content: end;
      align-items: center;
      margin: auto;
      text-decoration: none;

      &:hover {
        .hm-Bar_access-bar {
          @include bar-active(#80FF52, #52D6FF);
          transition: all .5s ease-out;
        }

        .hm-Bar_access-title {
          opacity: 1;
          transition: all .5s ease-out .5s;
        }
      }

      &-bar {
        @include bar-inactive(#80FF52, #52D6FF);
        transition: all .5s ease-out .5s;
      }

      &-title {
        writing-mode: vertical-rl; 
        opacity: 0;
        transition: all .5s ease-out;
        font-size: 1.5rem;
      }
    }
  }
}
