
@mixin bar-inactive($head-color, $bottom-color) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient($head-color, $bottom-color);
  backface-visibility: hidden;
  margin: auto;
}

@mixin bar-active($head-color, $bottom-color) {
  width: 8px;
  height: 400px;
  border-radius: 0%;
  background: linear-gradient($head-color, $bottom-color);
  margin: auto;
}

@mixin bar-animation($bar-name, $head-color, $bottom-color) {
  @keyframes #{$bar-name}-open {
    from {
      @include bar-inactive($head-color, $bottom-color);
    }
    to {
      @include bar-active($head-color, $bottom-color);
    }
  }


  @keyframes #{$bar-name}-close {
    from {
      @include bar-active($head-color, $bottom-color);
    }
    to {
      @include bar-inactive($head-color, $bottom-color);
    }
  }
}


.hm {
  &-Bar {
    @extend .container;
    justify-content: center;
    align-items: center;
    height: 800px;

    &_profile {
      @include bar-inactive(#52D6FF, #D152FF);
      transition: all .5s ease-out;

      &:hover {
        @include bar-active(#52D6FF, #D152FF);
        transition: all .5s ease-out;
      }
    }

    &_skill {
      @include bar-inactive(#D152FF, #FF7A52);
      transition: all .5s ease-out;

      &:hover {
        @include bar-active(#D152FF, #FF7A52);
        transition: all .5s ease-out;
      }
    }

    &_contents {
      @include bar-inactive(#FF7A52, #80FF52);
      transition: all .5s ease-out;

      &:hover {
      @include bar-active(#FF7A52, #80FF52);
      transition: all .5s ease-out;
      }
    }

    &_access {
      @include bar-inactive(#80FF52, #52D6FF);
      transition: all .5s ease-out;

      &:hover {
        @include bar-active(#80FF52, #52D6FF);
        transition: all .5s ease-out;
      }
    }
  }
}
