.bgs {
  &-Content {
    @extend .grid;
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 90%;

    &_header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;

      @include viewport-s {
        margin-bottom: 40px;
        display: block;
      }

      &-title {
        width: 50%;

        @include viewport-s {
          width: 100%;
          margin-bottom: 40px;
        }
      }

      &-image {
        width: 50%;
        
        @include viewport-s {
          width: 100%;
        }
      }
    }

    &_title {
      display: block;
      &-text {
        font-size: 3.2rem;
        word-break: break-all; 
        text-align: center;
        padding: 0 8px;

        @include viewport-s {
          font-size: 2.4rem;
        }
      }
      
      &-date {
        font-size: 1.0rem;
        text-align: center;
      }
    }

    &_description {
      margin: auto;
      max-width: 720px;
    }
  }
}
