.bgi {
  &-Content {
    @extend .grid;
    display: block;
    margin-top: 120px;

    &_title {
      text-align: center;
      font-size: 3.2rem;
      color: #000;

      @include keyframes(bgi-Content_title) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(bgi-Content_title 1s ease 1s);
    }

    &_bar {
      @include keyframes(bgi-Content_bar) {
        from {
          @include bar-side-active(#80FF52, #52D6FF);
          transform: rotate(90deg);
        }
        to {
          @include bar-side-active(#80FF52, #52D6FF);
          transform: rotate(0deg);
        }
      }

      @include animation(bgi-Content_bar 1s);
    }

    &_items {
      margin: auto;
      margin-top: 40px;
      max-width: 640px;

      @include keyframes(bgi-Content_items) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(bgi-Content_items 1s ease 1s);
    }

    &_item {
      margin-bottom: 32px;
      padding: 0 8px;
      text-align: center;

      &-title {
        font-size: 1.8rem;
        margin-bottom: 8px;
        text-decoration: none;
        word-break: break-all;

        &:visited {
          color: inherit;
        }
        &:link {
          color: inherit;
        }

        &:hover {
          color: inherit;
        }
      }

      &-date {
        font-size: 1.0rem;
      }
    }
  }
}
