.pd {
  &-Content {
    @extend .grid;
    display: block;
    margin-top: 120px;

    &_title {
      text-align: center;
      font-size: 3.2rem;
      color: #000;

      @include keyframes(pd-Content_title) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(pd-Content_title 1s ease 2s);
    }

    &_bar {
      @include keyframes(pd-Content_bar) {
        0% {
          @include bar-side-active(#D152FF, #FF7A52);
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: rotate(90deg);
        }

        50% {
          @include bar-side-active(#D152FF, #FF7A52);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(0deg);
        }

        99% {
          @include bar-side-active(#D152FF, #FF7A52);
          position: absolute;
          top: -515px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        
        100% {
          @include bar-side-active(#D152FF, #FF7A52);
        }
      }

      @include animation(pd-Content_bar 2s);
    }

    &_description {
      margin-top: 80px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      @include viewport-s {
        display: block
      }

      &-text {
        font-size: 1.0rem;
        color: #000;
        line-height : 1.5;
        letter-spacing : 0.1em;
        width: 400px;
        margin-right: 40px;

        @include viewport-s {
          h2 {
            text-align: center;
          }
          padding: 0 8px;
          width: unset;
          max-width: 400px;
          margin-bottom: 8px;
        }


        @include keyframes(pd-Content_description-text) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @include animation(pd-Content_description-text 1s ease 2s);
      }

      &-image {
        margin-top: 16px;
        img {
          width: 318px;
          height: 240px;
          border: solid;
          border-color: #888;
          border-width: 1px;
          @include animation(pd-Content_description-image 1s ease 2s);
        }

        @include viewport-s {
          img {
            display: block;
            margin: auto;
            @include animation(pd-Content_description-image 1s ease 2s);
          }
        }

        @include keyframes(pd-Content_description-image) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      &-other {
        h2 {
          text-align: center;
        }
        font-size: 1.0rem;
        color: #000;
        line-height : 1.5;
        letter-spacing : 0.1em;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 8px;


        @include keyframes(pd-Content_description-other) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @include animation(pd-Content_description-other 1s ease 2s);
      }
    }
  }
}
