.si {
  &-Footer {
    @extend .grid;
    margin-top: 80px;
    margin-bottom: 40px;

    &_column {
      width: 100px;
      margin: auto;
      color: #000;
      text-decoration: none;
      text-align: center;

      @include keyframes(si-Footer_column) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @include animation(si-Footer_column 1s ease 1s);
    }
  }
}
