@mixin grid-setting($container-size) {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  max-width: $container-size;
  max-height: 100%;
  margin: auto;
}

.grid {
  @include grid-setting($break-point-m);
  @include viewport-s {
    @include grid-setting($break-point-s);
  }
}
